*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-image: url("../img/img_02.jpg");
    background-size: auto;
    min-height: 50vh; 
    text-align: start;
}

.les__fleurs{
    padding-left: 30px;
    color: rgb(148, 5, 115);
    padding-bottom: 10px;
}


/* ////////////////////////////////////////////// Hero */

section{
    min-height: 20vh;
}

.hero{
margin: 0 auto 0  0;
max-width: 900px;
padding : 30px;
background-color: #ffffff4d;
}

.hero__h1{
    padding: 50px;
    font-size: 70px;
    text-align: center;
    text-shadow: 3px 3px 5px rgb(187, 97, 167);
    /* font-size: clamp(valeur minimum, taux variation, valeur maximum);*/
    font-size: clamp(70px, 10vw, 7rem);

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;

}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 30px;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: italic;

}



h6{
    font-size: 20px;
    text-align: center;
    margin: 30px;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 30px;
    text-align: left;
}

h1, h2, h3{
    margin: 0;
}

h1{
    margin: 0px;
    padding: 20px;
    background-color: pink;
}

h2{
     margin: 0px;
    padding: 20px;
}

html{
    scroll-behavior: smooth;
    font-size: 14px;
}

figure{
    margin: 0;
    padding: 0;
}

figure > img {
    display: block;
    width: 100%;
    object-fit: cover;
}


.hero__img img{
    height: 110vh;
}

.hero section{
    width: 750px;
    background-color: rgba(255, 255, 255, 0.621);
    border: 3px solid green;
    height: 110vh;
}

.hero p{
    text-align: center;
    padding: 30px;
}

.centre{
    background-color: rgba(255, 255, 255, 0.671);
    max-width: 1100px;
    margin: 0 auto;
}

.inscription{
    font-size: 20px;
    width: 250px;
    height: 30px;
    border-radius: 0%;
    background-color: rgb(255, 192, 239);
    border: 2px solid black;
    text-decoration: none;
    padding: 10px;
    color: black;
}

.inscrire{
    padding-left:45%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.inscription a{
    text-align: center;
}

/* ////////////////////////////////////////////// Inscription */

.point{
    color: rgba(255, 255, 255, 0);
}

/* ////////////////////////////////////////////// Tableau */

.center{
    max-width: 1100px;
    margin: 0 auto;
}

table{
    border: 1px solid #aaa;
    width: 100%;
    /* margin: 0 auto; */
}

td, th{
    border: 1px solid #aaa;
    padding:  5px;
    font-size: 1rem;
}

th{
    text-align: left;
}

thead{
    background-color: rgb(255, 106, 218);
}

tbody{
    background-color: rgb(255, 194, 247);
}

tbody tr:nth-of-type(even){
    background-color: rgba(250, 22, 215, 0.293);
}

tbody tr:hover{
    background-color: rgb(202, 111, 197);
    color: rgb(254, 220, 251);
}

tfoot{
    background-color: rgb(255, 221, 250);
}

caption{
    font-size: 2rem;
}

/* ////////////////////////////////////////////// Article */

/* h4{
    font-size: 20px;
    text-align: center;
    margin: 30px;
    text-align: left;
    width: 50%;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
} */

.trois {
    min-height: 100px;
}

.article{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 30px;
}

.fleurs{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.pivoine, .rosier, .dalhia, .geranium{
    justify-content: flex-start;
    display: flex;
    flex: 1 0 348px;
    flex-wrap: wrap;
    min-height: 170px;
    padding: 5px;
    margin: 2px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

/* .pivoine{
    align-items: center;
    display: flex;
    flex: 1 0 348px;
    min-height: 170px;
    padding: 5px;
    margin: 2px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
} */

.rosier{
    /* align-items: center;
    display: flex;
    flex: 1 0 348px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 2px;
    margin-top: 10px;
    border-radius: 10px;
    min-height: 170px; */
    margin-right: 10px;
}

/* .dalhia{
    align-items: center;
    display: flex;
    flex: 1 0 348px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 2px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    min-height: 170px;
} */

.geranium{
    /* align-items: center;
    display: flex;
    flex: 1 0 348px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 2px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    min-height: 170px; */
    margin-right: 10px;
}



.texte{
    width: 49%;
}

figure{
    width: 50%;
    display: inline;
}

figcaption{
    display: inline;
}

.img{
    margin: 0;
    padding: 0;
    /* max-height: 30vh;
    max-width: 30vh; */
    object-fit: cover;
}

.img__pivoine{
    padding-top: 100px;
    margin-left: 15px;
    margin-right: 19px;
    transform: rotate(90deg);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
}

.img__rosier{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    padding-top: 40px;
    margin-left: 25px;
    /* max-width: 10%;
    max-height: 5%; */
}

.img__dalhia{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    padding-top: 40px;
    padding-left: 25px;
}

.img__geranium{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    /* transform: rotate(90deg); */
    padding-top: 40px;
    margin-left: 15px;
    margin-right: 19px;
}

.principal__article{
    flex: 1 0 348px;
    background-color: rgba(255, 255, 255, 0.266);
    height: 130px;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
}

.principal__date{
    font-style: italic;
    margin-left: 6px;
}

.principal__date__droite{
    font-style: italic;
    margin-left: 6px;
    text-align: right;
}

.principal__h3{
    font-size: 25px;
}

.principal__h3__droite{
    font-size: 25px;
    text-align: right;
}

.principal__p{
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: 6px;
    font-size: 15px;
    /* width: 50%; */
}

.principal__p__droite{
    text-align: right;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: 6px;
    font-size: 15px;
}

.principal__h2{
    font-size: 30px;
    margin-bottom: 0;
}
/* ////////////////////////////////////////////// Colloration des sections */

/*
.un{
    background-color: pink;
}

.deux{
    background-color: palegreen;
}

.trois{
    background-color: rgb(230, 173, 225);
}

.quatre{
    background-color: lightseagreen;
}
*/


body > div:nth-of-type(1){
    background-color: pink;
}  
/*body > div:nth-of-type(2){
    background-color: palegreen;
}  */
body > div:nth-of-type(3){
    background-color: rgb(255, 228, 253);
}      
body > div:nth-of-type(4){
    background-color: rgb(212, 127, 198);
}  
body > div:nth-of-type(5){
    background-color: rgb(230, 173, 225);
}  
body > div:nth-of-type(6){
    background-color: rgb(231, 97, 166);
}  

/* ////////////////////////////////////////////// Pied de page */
.quatre{
    min-height: 450px;
}

icon-container{
    display: flex;
    gap: 30px;
    text-align: left;
    padding: 40px;
    padding-left: 30px;
}

address{
   margin-top: 0px;
   text-align: left;
   padding-left: 30px;
   padding-top: 0px;
   gap: 0px;
}

.info{
    padding-top: 162px;
}
.pied__page__left{
    float: left;
    width: 50%;
}

.pied__page__right{
    float: right;
    width: 50%;
}

.pied__page__img{
    float: right;
    width: 500px;

    padding-right: 30px;
    flex-wrap: wrap;
    display: flex;
}