*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-image: url("../img/img_02.jpg");
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh; 
    margin: 0;      
    text-align: start;
}

.les__fleurs{
    padding-left: 0px;
    color: rgb(148, 5, 115);
    padding-bottom: 10px;
}


/* ////////////////////////////////////////////// Hero */

a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 30px;
    text-align: left;
    text-decoration: none;
    color: rgb(68, 5, 37);
}

section{
    min-height: 20vh;
}

.hero{
margin: 0 auto 0  0;
max-width: 900px;
padding : 30px;
background-color: rgba(255, 255, 255, 0.621);
}

.hero__h1{
    padding: 50px;
    font-size: 70px;
    text-align: center;
    text-shadow: 3px 3px 5px rgb(187, 97, 167);
    /* font-size: clamp(valeur minimum, taux variation, valeur maximum);*/
    font-size: clamp(70px, 10vw, 7rem);

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;

}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 30px;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: italic;

}

h6{
    font-size: 20px;
    text-align: center;
    margin: 30px;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 30px;
    text-align: left;
}

h1, h2, h3{
    margin: 0;
}

h1{
    margin: 0px;
    padding: 30px;
    background-color: pink;
}

h2{
     margin: 0px;
    padding: 20px;
}

html{
    scroll-behavior: smooth;
    font-size: 14px;
}

figure{
    margin: 0;
    padding: 0;
}

figure > img {
    display: block;
    width: 100%;
    object-fit: cover;
}


.hero__img img{
    height: 110vh;
}

.hero section{
    width: 750px;
    background-color: rgba(255, 255, 255, 0.621);
    border: 3px solid green;
    height: 110vh;
}

.hero p{
    text-align: center;
    padding: 30px;
}

.centre{
    background-color: rgba(255, 255, 255, 0.671);
    max-width: 1100px;
    margin: 0 auto;
}

.inscription{
    font-size: 20px;
    width: 250px;
    height: 30px;
    border-radius: 0%;
    background-color: rgb(255, 192, 239);
    border: 2px solid black;
    text-decoration: none;
    padding: 10px;
    color: black;
}

.inscrire{
    padding-left:45%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.inscription a{
    text-align: center;
}

/* ////////////////////////////////////////////// Inscription */

.point{
    color: rgba(255, 255, 255, 0);
}

/* ////////////////////////////////////////////// Tableau */

.center{
    max-width: 1100px;
    margin: 0 auto;
}

table{
    border: 1px solid #aaa;
    width: 100%;
    /* margin: 0 auto; */
}

td, th{
    border: 1px solid #aaa;
    padding:  5px;
    font-size: 1rem;
}

th{
    text-align: left;
}

thead{
    background-color: rgb(255, 106, 218);
}

tbody{
    background-color: rgb(255, 194, 247);
}

tbody tr:nth-of-type(even){
    background-color: rgba(250, 22, 215, 0.293);
}

tbody tr:hover{
    background-color: rgb(202, 111, 197);
    color: rgb(254, 220, 251);
}

tfoot{
    background-color: rgb(255, 221, 250);
}

caption{
    font-size: 2rem;
}

/* ////////////////////////////////////////////// Article */

/* h4{
    font-size: 20px;
    text-align: center;
    margin: 30px;
    text-align: left;
    width: 50%;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
} */

.trois {
    min-height: 100px;
}

.article{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 30px;
}

.fleurs{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.pivoine, .rosier, .dalhia, .geranium, .begonia, .laurier, .fuchsia, .hibiscus{
    justify-content: flex-start;
    display: flex;
    flex: 1 0 348px;
    flex-wrap: wrap;
    min-height: 170px;
    padding: 5px;
    margin: 2px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.rosier,.geranium, .laurier, .hibiscus{
    margin-right: 10px;
}

.texte{
    width: 49%;
}

figure{
    width: 50%;
    display: inline;
}

figcaption{
    display: inline;
}

.img{
    margin: 0;
    padding: 0;
    /* max-height: 30vh;
    max-width: 30vh; */
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
}

.img__pivoine{
    padding-top: 100px;
    margin-left: 15px;
    margin-right: 19px;
    transform: rotate(90deg);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    display: flex;
    flex-wrap: wrap;
}

.img__rosier{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    padding-top: 40px;
    margin-left: 25px;
    /* max-width: 10%;
    max-height: 5%; */
    display: flex;
    flex-wrap: wrap;
}

.img__dalhia{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    padding-top: 40px;
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;
}

.img__geranium{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    /* transform: rotate(90deg); */
    padding-top: 40px;
    margin-left: 15px;
    margin-right: 19px;
    display: flex;
    flex-wrap: wrap;
}

.img__begonia{
    padding-top: 40px;
    margin-left: 15px;
    margin-right: 19px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    display: flex;
    flex-wrap: wrap;
}

.img__laurier{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    padding-top: 40px;
    margin-left: 15px;
    margin-right: 19px;
    display: flex;
    flex-wrap: wrap;
}

.img__fuchsia{
    padding-top: 40px;
    margin-left: 15px;
    margin-right: 19px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    display: flex;
    flex-wrap: wrap;
}

.img__hibiscus{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    padding-top: 40px;
    margin-left: 15px;
    margin-right: 19px;
    display: flex;
    flex-wrap: wrap;
}

.principal__article{
    flex: 1 0 348px;
    background-color: rgba(255, 255, 255, 0.266);
    height: 130px;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
}

.principal__date{
    font-style: italic;
    margin-left: 6px;
}

.principal__date__droite{
    font-style: italic;
    margin-left: 6px;
    text-align: right;
}

.principal__h3{
    font-size: 25px;
}

.principal__h3__droite{
    font-size: 25px;
    text-align: right;
}

.principal__p{
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: 6px;
    font-size: 15px;
    /* width: 50%; */
}

.principal__p__droite{
    text-align: right;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: 6px;
    font-size: 15px;
}

.principal__h2{
    font-size: 30px;
    margin-bottom: 0;
}

/* ////////////////////////////////////////////// Section Galerie photos */
.galerie_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.galerie{
    overflow: hidden; 
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.galerie img {
    width: 100%; 
    height: 200px;
    object-fit: cover; 
    display: block;
    display: flex;
    flex-wrap: wrap;

    filter: grayscale(50%) blur(2px) sepia(30%);
    transition: all 0.3s ease;
}

.galerie figcaption {
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
    color: #333;
}

.galerie img:hover {
    filter: grayscale(0%) blur(0) sepia(0); 
    transform: scale(1.5);
}

/* ////////////////////////////////////////////// Section vidéo */

.video__fleurs{
    display: flex;
    flex-wrap: wrap;  
    gap: 40px;   
    padding: 20;   
    margin-top: 10px;
    padding-left: 30px;      
}

.video__fleurs iframe {
    width: 30%;
    min-height: 300px;
    height: 200px;
}

/* ////////////////////////////////////////////// Colloration des sections */

/*
.un{
    background-color: pink;
}

.deux{
    background-color: palegreen;
}

.trois{
    background-color: rgb(230, 173, 225);
}

.quatre{
    background-color: lightseagreen;
}
*/


body > div:nth-of-type(1){
    background-color: pink;
}  
/*body > div:nth-of-type(2){
    background-color: palegreen;
}  */
/* body > div:nth-of-type(3){
    background-color: rgb(255, 228, 253);
}      
body > div:nth-of-type(4){
    background-color: rgb(212, 127, 198);
}  
body > div:nth-of-type(5){
    background-color: rgb(230, 173, 225);
}  
body > div:nth-of-type(6){
    background-color: rgb(231, 97, 166);
}  
body > div:nth-of-type(7){
    background-color: rgb(141, 6, 75);
}   */

/* ////////////////////////////////////////////// Pied de page */
.quatre{
    min-height: 450px;
}

icon-container{
    display: flex;
    gap: 30px;
    text-align: left;
    padding: 40px;
    padding-left: 0px;
}

address{
    margin: 0;
    margin-top: 0px;
    text-align: left;
    padding-left: 30px !important;
    padding-top: 0px;
    gap: 0px;
     display: block;
}

.info{
    padding-top: 160px;
    padding-bottom: 70px;
}

/* .pied__page__left{
    float: left;
    width: 50%;
    overflow: auto;
}

.pied__page__right{
    float: right;
    width: 50%;
    overflow: auto;
} */

#pied {
    background-color: rgba(255, 255, 255, 0.621);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
}

#pied.centre {
    display: block;     
    text-align: left; 
}

.pied__page__img{
    display: block;       
    width: 100%;          
    max-width: 600px;     
    height: auto;         
    object-fit: contain;
}

.pied__page__right {
    flex: 1;         
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start;
}

.pied__page__left {
    float: left;       
    text-align: left;
    margin: 0;
    padding: 0 30px;   
}

.les__fleurs__pied{
    padding-left: 0px;
    color: rgb(148, 5, 115);
    padding-bottom: 10px;
    margin-left: 0;
}